*{
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
}

body {
    background: hsl(217, 54%, 11%);
    margin: 0;
}

.content{   
    margin: 3em auto;
    background: hsl(216, 50%, 16%);
    width: 17.222em;
    height: 28.889em;
    padding: 0.556em 22.1px;
    outline: solid 2px hsl(216, 50%, 16%);
    border-radius: .7em;
    box-shadow: 0 0 20px 0 #14253d;
}

/* ---------------
    Images styles
   ---------------*/

.nft-image {
    height: 14.8em;
    margin-top: 10px;
    background: hsl(178, 100%, 50%);
    border-radius: .7em;
    opacity: 1;
}

.son .nft-image #equilibrium-img {
    position: absolute;
    width: 14.778em;
    border-radius: .5em;
}

.son .nft-image .view {
    margin: 6.056em;
}

.son .nft-image #equilibrium-img:hover {
    opacity: .4;
    cursor: pointer;
    transition: all .4s;
}

/* --------------
      Content
   --------------*/

.son #nft-name {
    text-decoration: none;
    display: inline-block;
    margin: 23px 0 15px;
    font-weight: 800;
    color: hsl(0, 0%, 100%);
}

.son a:hover, .creator a:hover {
    color: hsl(178, 100%, 50%) !important;
    cursor: pointer;
}

.son p {
    margin: 0;
    padding-bottom: 20px;
    font-size: .85em;
    font-weight: 300;
    color: hsl(215, 51%, 70%);
}

/* --------------------
    Price and creator
   --------------------*/

.price {
    position: relative;
    left: 3px;
    bottom: 3px;
    padding-right: 6.2em;
    color: hsl(178, 100%, 50%);
    font-size: 14px;
    font-weight: 600;
}

.time {
    position: relative;
    bottom: 3px;
    font-weight: 600;
    font-size: 14px;
    color: hsl(215, 32%, 27%);
}

.line {
    border-top: 1px solid hsl(215, 32%, 27%);
    height: 2px;
    max-width: 100%;
    padding: 0;
    margin-top: 15px;
}

.son #avatar {
    max-width: 11%;
    margin-top: 20px;
    border-radius: 100%;
    border: 1.5px solid #fff;
}

.son .content .creator {
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    font-size: .78em;
    position: relative;
    left: 8px;
    bottom: 8px;
}